Repository Oaphi/exposeAndRequire, changes with the labels that .github/labeler.yml gives for each.
All labels: utilities, feature, controller, validator

.github/labeler.yml:

utilities:
  - src/utils.*

feature:
  - src/main.*

controller:
  - src/control.*

validator:
  - src/validator.*

Added exposeOnly option, overall improvements
  src/control.js
  src/main.js
  src/validator.js
Labels: feature, controller, validator

Package updates
  README.md
  package.json
  templates/package.json
  templates/readme.md
  utility/update.js
Labels: none

Added cleanup utility
  utility/cleanup.js
Labels: none

Package updates
  package-lock.json
  package.json
Labels: none

Readme update, removed templates until reworked util
  .gitignore
  README.md
  templates/package.json
  templates/readme.md
Labels: none

Added tests to repo
  .gitignore
  src/main.js
  test/source/tested.js
  test/test.js
  test/utils.js
Labels: feature

Fixed core modules require, added test option to keep test output
  package.json
  src/control.js
  src/main.js
  src/utils.js
  src/validator.js
  test/test.js
Labels: utilities, feature, controller, validator

Test failing workflow
  .github/workflows/njs.yml
  test/test.js
Labels: none

1.3.5
  README.md
  package-lock.json
  package.json
Labels: none
